{% extends 'navbar.html' %}
{%load static %}
{% block body %}
    <header style="background-color: #333; color: #fff; padding: 20px; text-align: center;">
        <h1>𝙰𝚋𝚘𝚞𝚝 𝚄𝚜 - 𝚂𝚒𝚢𝚊𝚛𝚊𝚖</h1>
    </header>
    <div class="container">
        <h2 style="color: #333; margin-top: 30px;">About Siyaram</h2>
        <img src="{% static 'mainlogo.jpg' %}" alt="Siyaram Logo" style="max-width: 10%; height: auto; display: block; margin: 20px auto; border-radius: 10px;">
        <p style="line-height: 1.6; text-align: justify;">Siyaram Milk Products Private Limited is a leading dairy company in South India established in the year
            1996. Since then, Siyaram has been maintaining its position as a fastest growing brand with presence in
            major states of India such as Tamil Nadu, Karnataka, Andhra Pradesh, Telangana, Kerala, Madhya Pradesh,
            Uttar Pradesh, and West Bengal. Today, Siyaram produces dairy products across nine state-of-the-art
            manufacturing plants spread across southern states of India.</p>

        <h2 style="color: #333; margin-top: 30px;">About Groupe Lactalis</h2>
        <p style="line-height: 1.6; text-align: justify;">In 2014, Lactalis acquired Siyaram, where it opened up enormous opportunities in the biggest and most
            challenging dairy market in the world to position it as the most preferred brand in India. The traditional
            and cultural experience of Siyaram and international expertise of Lactalis provided a unique combination,
            leading to a success story to be talked by generations to come. Lactalis is a family-owned dairy group
            based in Laval (Mayenne), in the west of France. In 1933, André Besnier started up his cheese-making
            company. The group sells products in over 180 countries and has 229 production sites across the globe.
            Lactalis is the largest dairy group in the world with turnover of over 17 billion Euros.</p>

        <h2 style="color: #333; margin-top: 30px;">Quality Assurance & Procurement</h2>
        <p style="line-height: 1.6; text-align: justify;">Legal Compliance: At Siyaram, we strictly ensure to be compliant with all the legal norms, whether it is
            for the products or brands in the market. We understand its importance and that is why we guarantee its
            fulfilment.</p>

        <!-- Insert other sections as needed -->

    </div>
{% endblock %}
